@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kdam+Thmor+Pro&family=Smooch&family=Titan+One&display=swap');
body {
    margin: 0px;
    padding: 0px;
}
.back {
    background-image: url("background.png");
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.linktodv {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 95%;
    height: 20%;
    font-family: "Kdam Thmor Pro";
    color: #30ff00;
    font-size: 30px;
}
.link {
    width: 80px;
    height: 80px;
}
#link1 {
    position: absolute;
    bottom: 10%;
    left: 20%;
}
#link2 {
    position: absolute;
    bottom: 10%;
    left: 30%;
}
#link3 {
    position: absolute;
    bottom: 10%;
    left: 40%;
}
#link4 {
    position: absolute;
    bottom: 10%;
    right: 40%;
}
#link5 {
    position: absolute;
    bottom: 10%;
    right: 30%;
}
#link6 {
    position: absolute;
    bottom: 10%;
    right: 20%;
}
.link img {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}
.link:hover {
    width: 100px;
    height: 100px;
}
.titel {
    color: #30ff00;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60%;
    width: 100%;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 60vh;
    font-family: "Smooch";
}
#link7 {
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    background-color: #30ff00;
}
